<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
  <h1>Get the ID for any given game from
    <a href="https://www.speedrun.com/api/v1/games">speedrun.com</a>
  </h1>
  <form method = "post" action ="findGame">
    Browse for a game: <input type = "String" name ="game">
    <input type ="submit" value = "submit">
  </form>

<% var gameData = JSON.stringify(data) %>
<% var game = JSON.parse(gameData) %>
  <% console.log('game') %>
  <% console.dir(game) %>

<div style="border-top:thick solid blue; margin:20; padding:10">
    <h1 class="bg-warning"> <%= game.international %> </h1><br>
    <h2> gameID: <%= game.id %> <h2>
    <a href="<%= game.weblink %>"> <%= game.weblink %> </a><br>
</div>
<%%>
  <form method = "post" action = "viewSpeedRuns">
    Select which speedruns you want to see<br>
    Game: <input type = "String" name ="game">
    Category: <input type = "String" name = "category">
    <input type = "submit">
  </form>
</div>
